/* Keyframe do titulo aparendo digitado */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 11em;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: rgba(0, 0, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* keyframe linha aparecendo aos poucos */
@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  25%{
    opacity: 0.10;
  }
  50%{
    opacity: 0.20;
  }
  75%{
    opacity: 0.30;
  }
  100% {
    opacity: 0.5;
  }
}

 /* keyframe da bolinha */
@keyframes line {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: 96%;
  }
}

@keyframes pause-between-iterations {
   0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes home {
  0% {
   opacity:1;
 }
 100% {
   opacity: 0;
 }
}

/* borda */
@keyframes borderLine{
	0% {
		border-left: 0% #fff;
	}
	100% {
		border-left: 100% #fff;
	}
}

.apresentation {
  animation: home 2s 10s both;
}

.text {
  animation: fadeInText 1.5s 5s both;
}

.lineName {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #daa520;
  animation: line 1.5s linear 5.5s alternate infinite running,
  pause-between-iterations 5.5s;
}

.typing-animation {
  animation: blinkCursor 500ms steps(40) infinite normal,
    typing 4s steps(40) 1s normal both;
}