
@media only screen and (max-width: 768px){
  /* Header */
  header {
    justify-content: flex-end;
    margin: 20px 50px;
  }

  .navbar-nav #btnbaixar,
  .navbar-nav #btnDownload{
    padding-left: 0;
  }
  
  .nav-link {
    padding: 1rem;
    line-height: 30px;
  }

  /* home */
  #home {
    padding: auto;
  }

  #home img {
    max-width: 80%;
  }
  

  /* About */
  #about {
    padding: 30px 0;
  }
  
  .img-about {
    padding: 1em 0;
  }
  
  #about .about-content {
    max-width: 100%;
    margin: 0 20px;
  }

  #about h5,
  #about .about-and-skills h5,
  #formation h4,
  #experience h4,
  footer h4 {
    margin: 8% 0 4% 0;
    padding: 0 auto;
  }

  #about p {
    max-width: 100%;
    margin-bottom: 0;
  }

  #about .about-and-skills .profile,
  #about .about-and-skills .skills{
    margin: 40px 0;
    padding-left: 0;
  }

  #about .about-and-skills h5,
  #about .about-and-skills .skills ul,
  #about .about-and-skills .skills li,
  #about .about-and-skills .profile,
  #about .about-and-skills .profile li{
    text-align: center;
    padding-left: 0;
  }

  #about .about-and-skills .skills ul li .progress {
    margin: 10px 0 auto;
    margin-left: 10%;
    margin-bottom: 10px;
    text-align: center;
  }

  /* experience  */
  
  #experience .container{
    padding-left: 0;
    padding-right: 0;
  }
  
  #jobs {
	flex-wrap: wrap;
}
  
  .job{
    margin: 1rem auto;
    padding-left: auto! important;
    padding-right: auto! important;
  }
  
 #jobs ul li{
    margin: 0 auto;
    padding: 0 auto;
  }
  
  /* Formation and Certificates */
  
  #formation .container {
    padding-left: 0;
    padding-right: 0;
  }
  
  #formation,
  #experience,
  #additional-information{
    padding: 12% 8%;
  }

  #formation h3,
  #experience h3 {
    margin: 10px 0;
  }

  #formation #formationblock,
  #experience #jobs {
    margin-bottom: 25px;
    margin: 2rem auto;
  }
  
  #formation1,
  .curso{
    margin: 2rem auto;
    padding-right: 0;
    padding-left: 0;
  }
  
  .certification-course .col-md-10 {
	padding-left: 0;
  padding-right: 0;
}

  /*additional-information*/
  .information {
    text-align: center;
  }
  
  #infadd::after {
    width: auto;
  }
  
  #frase {
  margin-left: auto;
  margin-right: auto;
}

  /* Footer */
  footer{
    padding:0 auto;
    margin:0 auto;
  }

  footer {
    padding: 20% 0 0 0;
  }

  footer .contact-info {
    display: block;
  }

  footer i {
    font-size: 35px;
  }

  footer h3 {
    font-size: 14px;
  }

  footer p {
    margin-top: 10px;
    font-size: 14px;
  }

  footer #contact form {
    display: block;
    padding: 0;
  }

  input[type="submit"] {
    margin: 30px !important;
  }

  footer .contact-info {
    margin-bottom: 8%;
  }

  footer #SendMessage ul,
  footer .contact-info ul{
    margin: auto;
  }

  footer .contact-info ul{
    padding-left: 15px;
  }

  #SendMessage .tituloRodape{
    margin-left: 15px;
  }

  footer #SendMessage,
  footer .contact-info{
    margin: 5% 0 0 0;
  }
}