html,
body,
#root {
  height: 100%;
}

body {
  background: rgba(0, 0, 0);
  color: #fff;
  height: 100%;
}

.corfundo {
  background-color: black;
  color: #fff;
}

.corfundo .navbar-ligth .bnt{
  background:none;
  border:3px solid #daa520;
  /*border: 1px solid #0062cc;*/
}


.dourado {
  color: #daa520;
}

.box-shadow {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.30),
    0 5px 9px 0 rgba(0,0,0,.30);
}

.home {
  height: 825px;
}

#home img {
  border:2px solid #daa520;
  width: 100%;
  border-radius: 50%;
  max-width: 220px;
  height: 100%;
}

#NomePerfil{
margin: 30px 0 20px 0;
font-weight: 300;
color: #daa520;
}

#NomePerfil::after{
  content: "";
  display: block;
  width: 160px;
  height: 2px;
  background: #daa520;
  margin: 10px auto;
}

#social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

#social ul{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0;
}

#social i {
  font-size: 30px;
  cursor: pointer;
  margin: 0 10px;
  color: #fff;
}

li{
  list-style-type: none;
}

/* About */

#about {
background: #fff;
color: #000;
padding: 80px 0 40px 0;
}

#about .about-content,
#formationblock {
  display: block;
  max-width: 850px;
  margin: 0 auto;
}

#about .about-text p {
  max-width: 600px;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
}

#about .about-text h4,
#formation h4,
#experience h4,
#more h4,
.footer #form-title {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #daa520;
  text-align: center;
}

#about .about-and-skills h5 {
  margin-left: 3rem;
  text-transform: uppercase;
  color: #daa520;
}

#about .about-and-skills .profile li, 
#about .about-and-skills .skills li,
#experience #experiences-1 li,
#experience #experiences-2 li{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

#about .about-and-skills .profile li span {
  color: #888888;
  margin-bottom: 10px;
  font-size: 14px;
}

#about .about-and-skills .profile li strong,
#about .about-and-skills .skills ul li strong{
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

.skills ul li .progress {
  background-color: #ddd;
  height: 8px;
  margin-bottom: 30px;
  width: 80%;
}

.percent40,
.percent50,
.percent60,
.percent70,
.percent80,
.percent90,
.percent100 {
  background-color: blue;
  height: 100%;
}

.percent40 {
  width: 40%;
}

.percent50 {
  width: 50%;
}

.percent60 {
  width: 60%;
}

.percent70 {
  width: 70%;
}

.percent80 {
  width: 80%;
}

.percent90 {
  width: 90%;
}

.percent100 {
  width: 100%;
}

/*formation*/

#formation{
  background: #DCDCDC;
  padding: 8% 3%;
}

#formation #fomation-and-certificantes h4{
text-transform: uppercase;
color: #daa520;
text-align: center;
}

#formation i,
#experience i,
#formation p,
#experience p,
#more p{
  color: #6e6e6e;
}

#formation h5,
#experience h5,
#more h3{
  color: #313131;
}

/*experiencia*/

#experience{
  background: #fff;
  color: #000;
  padding: 8% 0 5% 0;
}

#experience ul,
#experience ul li{
  padding-left: 0;
}

/*More*/
#more{
  padding: 8% 3%;
}

#more i{
  color: #daa520;
}



/*footer*/

.footer #contact form {
  display: block;
  padding: 0 80px;
}
.footer #contact{
  text-align: center;
}

form{
  padding-bottom: 4rem!important;
}

input[type="text"],
textarea {
  color: rgba(255, 255, 255, 0.7);
  outline: none;
  font-size: 14px;
  line-height: 2rem;
  background: transparent;
  border: 0;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

textarea {
  max-width: 100%;
  height: 150px;
}

input[type="submit"] {
  margin: 20% 0 2% !important;
  
}

.contact-info{
  padding: 0 5%;
}

.contact-info h5{
  text-transform: uppercase;
   color: #daa520
}

.footer .contacto-info p{
  color: #6e6e6e;
}

.footer{
  margin-bottom: 8%;
}


@media only screen and (max-width: 600px) {
  /* Header */
  header {
    justify-content: flex-end;
    margin: 20px 50px;
  }
    
body .navbar #btnDownload{
        padding-left: 0;
    }

  /* Introdução */
  #home {
    padding: 0 40px;
  }

  #home img {
    max-width: 150px;
  }

  #home .intro p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  #home .intro i {
    font-size: 25px;
  }

  /* About */
 #about {
    padding: 40px 0;
    display: flex;
  }
  #about .about-content {
    max-width: 100%;
    margin: 0 20px;
  }

  #about h5,
  #about h4,
  #about .about-and-skills h5,
  #formation h4,
  #experience h4,
  footer h4 {
    margin: 50px 0 20px 0;
    padding: 0 auto;
  }

  #about .about-text p {
    max-width: 100%;
    margin-bottom: 0;
    margin:0 10px 0 10px;
  }

  #about .about-and-skills .profile,
  #about .about-and-skills .skills,{
    margin: 40px 0;
    padding-left: 0;
  }

#about .about-and-skills h5,
#about .about-and-skills .skills ul,
#about .about-and-skills .skills li,
#about .about-and-skills .profile,
#about .about-and-skills .profile li{
  text-align: center;
  padding-left: 0;
  }

  #about .about-and-skills .skills ul li .progress {
    margin: 10px 0 auto;
    margin-left: 10%;
    margin-bottom: 10px;
    text-align: center;
    
  }

  /* Formation and Certificates */
  #formation,
  #experience {
    padding: 20px;
  }

  #formation h3,
  #experience h3 {
    margin: 10px 0;
  }

  #formation .formation-and-certificates #formationblock,
  #experience .experiences #jobs {
    margin-bottom: 25px;
    margin: 0 auto;
  }
  
#experience #experiences-1 li,
#experience #experiences-2 li{
    margin: 0 auto;
    padding: 0 auto;
  }
  
  /*More*/
  
  
  #more #personality,
  #more #interests,
  #more #hobbies,
  #more #voluntary{
    margin: 15px 0;
  }

  /* Footer */
  footer {
    padding-top: 60px;
  }

  footer,
  footer .contact-info {
    display: block;
  }

  .footer i {
    font-size: 35px;
  }

  .footer h3 {
    font-size: 14px;
  }

  .footer p {
    margin-top: 10px;
    font-size: 14px;
  }

  .footer .contact {
    margin: 60px auto;
  }

  .footer #contact form {
    display: block;
    padding: 0;
  }

  input[type="submit"] {
    margin-top: 30px !important;
  }

  .footer .contact-info {
    margin-bottom: 100px;
  }
}