html,
body,
#root {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff;
  padding-top: 100px;
  color: #fff;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none !important;
}

.section i {
  color: #a4a4a4;
}

h5 {
  color: #daa520;
}

.dourado,
#dourado {
  color: #daa520;
}


/* Box Shadow da Navbar e do #skill */
.box-shadow {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .30),
    0 2px 2px 0 rgba(0, 0, 0, .30),
    0 4px 4px 0 rgba(0, 0, 0, .30),
    0 6px 6px 0 rgba(0, 0, 0, .30),
    0 8px 8px 0 rgba(0, 0, 0, .30);
}


.section {
  padding: 0px 3% 5%;
/*  border-top: 2px solid #fec63e;*/
}

.linha::before {
    margin: 0px auto 50px;;
}

.linha::before{
    content: "";
    width: 50%;
    height: 2px;
    display: block !important;
    background: rgb(254,198,61);
}

/* Navbar */

.navbar {
  background: #fec63e;
  /*background: linear-gradient(100deg, #000010 0%, #fec63e 100%);*/
  line-height: 80px;
  padding: 0 ! important;
}

nav a {
  color: #000;
  padding: 10px;
}

.nav-link {
  margin: 0;
  padding: 10px ! important;
  text-transform: uppercase;
  font-weight: bold;
  transition: all .3s ease;

}

nav li:hover > a {
  background: #000;
  color: #daa520 ! important;
}

nav img {
  cursor: pointer;
  margin: 0 5px;
}

.boxTradutor,
.goog-te-banner-frame {
  display: none;
}

#flagBr,
#flagEn {
  width: 20px;
  height: 20px;
  transition: transform 1s;
/*  transform: translateX(10) scale(0.5);*/
}

#flagBr:hover,
#flagEn:hover,
#flagBr:focus,
#flagEn:focus {
  transform: scale(1.2);
  
}

/* parte inicial da página #home */

#fotoPerfil {
  max-width: 200px;
  width: 100%;
  height: 200px;
  background: transparent url('https://avatars2.githubusercontent.com/u/15041151?s=460&v=4teste');
  border-radius: 50%;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.borders {
  position: relative;
  border: 2px solid #daa520;
}

.borders::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: #000;
  z-index: -1;
  border-radius: 50%;
}


#NomePerfil {
  margin: 30px 0 20px 0;
  color: #000;
}

#home #subtitle {
  color: #000;
  opacity: 0.50;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#social {
  position: relative;
  flex-wrap: wrap;
}

#social ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0;
}

#social i {
  font-size: 30px;
  cursor: pointer;
  margin: 0 10px;
  color: #000;
}

#social i:hover {
  color: #f4cc6c;
}

/* About */

#about {
  background: #fff;
}

.img-about {
  background-image: url(../img/sections/group-job.webp);
  background-position: center;
  background-size: cover;
  padding: 5em 0;
  position: relative;
  height: 250px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-sizing: border-box;
}

.img-about h6 {
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  text-shadow: 0.1em 0.1em 0.15em #000;
  text-indent: 1.5em;
}

#about .about-content,
#formationblock {
  display: block;
  max-width: 850px;
  margin: 0 auto;
}

#introduction {
  margin-bottom: 50px;
}

#introduction p {
  margin: auto;
  color: #000;
  text-indent: 1.5em;
}

.title-section,
footer #form-title {
  text-transform: uppercase;
  margin-bottom: 50px;
  color: #fec63e;
  text-align: center;
}

#experience li {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.skills-title {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.skills-title::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    margin-right: 20px;
    background: rgb(254,198,61);
}

#skills {
	display: flex;
  flex-wrap: wrap;
}

#skills ul li strong {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

li .progress {
  background-color: #ddd;
  height: 8px;
  margin-bottom: 10px;
  width: 80%;
}

.progress #html {
  background-color: #e26932;
}

.progress #css {
  background-color: #3d58ff;
}

.progress #java {
  background-color: #ec5453;
}
.progress #js {
  background-color: #f9bf3e;
}
.progress #bootstrap {
  background-color: rgb(170,104,241);
}

.progress #sass {
  background-color: rgb(207,100,154);
}

.progress #github {
  background-color: #4dac6c;
}

/* Referente as linhas de progresso */

.percent20 {
  width: 20%;
}

.percent30 {
  width: 30%;
}

.percent35 {
  width: 35%;
}

.percent40 {
  width: 40%;
}

.percent50 {
  width: 50%;
}

.percent60 {
  width: 60%;
}

.percent70 {
  width: 70%;
}

.percent80 {
  width: 80%;
}


/*############# formation ##############*/

#formation {
  background-color: #000;
  color: #fec63e;
}

#formation i {
  color: #888888;
}

#formation #tcc {
  color: #fff;
}

#certificate-courses {
  margin: 4rem auto 2rem auto;
}

#formation p {
  color: #fff;
}

#formation a {
  color: #fec63e;
}

#formation a:hover {
  color: #daa520;
  opacity: .9;
}

#formation1 {
  display: flex;
}

#formation1 .col{
  margin: auto;
}

#congratulation {
	background: url("../img/Diplom.png") no-repeat;
  background-size: contain;
  border-radius: 10px;
  width: 125px;
  height: 125px;
  position: relative;
}


.curso,
#formation1 {
  background-color: rgb(31, 31, 36);
  padding: 20px;
  border-radius: 5px;
  margin: .5rem 0;
}



/*    experiencia   */

#experience {
  background: rgb(26, 25, 23);

  color: #fec63e;
}

#experience i {
  color: #fff;
}

#jobs {
  display: flex;
}

.job {
  background-color: rgb(31, 31, 36);
  padding: 20px;
  border-radius: 5px;
  margin: .5rem;
}

#jobs li {
  color: rgb(168, 168, 179);
}

#experience ul,
#experience ul li {
  padding-left: 0;
}

#experience li {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

#formation li {
  color: #000;
}

.office {
  color: #fff;
}


/*    additional-information    */
#additional-information {
  display: flex;
  flex-wrap: wrap;
  color: #000;
}

.information {
  max-width: 350px !important;
  margin: 1rem auto;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 200px;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.15em #000;
  opacity: 0.6;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.information:hover,
.information:focus {
  opacity: 1;
  box-shadow: 0 8px 6px -6px black;
  transform: translateY(-0.25em);
}

.personalidade {
  background-image: url(../img/sections/Felipe-Image.webp);
}

.interesses {
  background-image: url(../img/sections/laptop-computer.webp);
}

.hobbies {
  background-image: url(../img/sections/book-read.webp);
}

.voluntary {
  background-image: url(../img/sections/hand-man.webp);
  height: auto;
}

#frase {
  max-width: 350px;
  width: auto;
  text-indent: 1.5em;
  margin-top: 3rem;
  color: #daa520;
  font-weight: bold;
}

/*footer*/
footer {
  bottom: 0;
  width: 100%;
  background-color: #1d171f;
  padding-top: 20px;
  line-height: 16px;
  color: #fff;
}

#contact,
#message {
  margin: 0 auto;

}

.contact-info li {
  margin: 15px auto;
  padding: 7px 0 7px 0;
  width: 70%;
}

footer .contact-info img {
  float: left;
  margin-left: -40px;
  margin-top: -7px;
}

.contact-info a {
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.contact-info a:hover {
  color: #fff;
  opacity: 0.50;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
}

.contact-info #downloadfooter {
  margin-left: 25%;
  width: auto;
  margin-bottom: 0;
}

.contact-info #btndownloadfooter {
  color: #ffc107;
  padding: 2%;
}

.contact-info #btndownloadfooter:hover {
  color: #000;
  opacity: 0.90 !important;
}

footer #SendMessage form {
  display: block;
  padding: 0;
}

#SendMessage {
  text-align: center;
}

input[type="text"],
textarea {
  color: rgba(255, 255, 255, 0.7);
  outline: none;
  font-size: 14px;
  line-height: 2rem;
  background: transparent;
  border: 0;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

textarea {
  max-width: 100%;
  height: 100%;
}

input[type="submit"] {
  margin: 5% 0 2% !important;
}

.contact-info,
#SendMessage {
  margin-left: 10%;
}

.contact-info ul,
#SendMessage ul {
  margin: 10px 15px;
  width: 100%;
  float: left;
  padding: 0;
  list-style-type: none;
}

#SendMessage ul {
  margin-bottom: 0 ! important;
}

.contact-info .tituloRodape,
#SendMessage .form-titulo {
  text-transform: uppercase;
  text-align: left;
  padding-left: 0;
  margin: 15px auto 15px 0;
}

#SendMessage .form-titulo {
  padding: 7px 0 0 0;
  margin-bottom: 0;
}

#form-name,
#form-email {
  margin-top: 0;
}

#SendMessage li {
  padding: auto;
  margin: auto;
  width: 80%;
}

.blockquote {
  padding: 15px 0 !important;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0 !important;
}

blockquote,
blockquote footer {
  margin: 0;
  padding: 0;
  background: #fec63e;
}

blockquote p {
  font-size: 15px;
  color: #000;
  margin-bottom: 0;
}

/*Animation home bolline */
#animationbox {
  width: 160px;
  margin: 0 auto;
}

@keyframes linha {
  0% {
    margin-left: 0%;
  }

  100% {
    margin-left: 96%;
  }
}

.linhaNome {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #daa520;
  animation-name: linha;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
