body {
background: rgba(0, 0, 0);
color: #fff;
height: 100%;
}

.corfundo {
  background-color: black;
  color: #fff;
}

.navbar-toggler{
background-color: transparent;
border: 1px solid blue;
}


.dourado {
color: #daa520;
}

.box-shadow {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.30),
              0 5px 9px 0 rgba(0,0,0,.30);
}

.home {
    height: 825px;
}

#home img {
border:2px solid #daa520;
width: 100%;
border-radius: 50%;
max-width: 220px;
height: 100%;
}

#NomePerfil{
margin: 30px 0 20px 0;
font-weight: 300;
}

#NomePerfil::after{
content: "";
display: block;
width: 160px;
height: 2px;
background: #daa520;
margin: 10px auto;
}

#social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

#social ul{
display: flex;
justify-content: center;
margin-bottom: 50px;
padding: 0;
}

#social i {
  font-size: 30px;
  cursor: pointer;
  margin: 0 10px;
  color: #fff;
}

li{
list-style-type: none;
}

button,
.btn {
  transition: all 0.3s linear;
}

#home .btn,
#home .btn i {
  color: #daa520;
  font-size: 12px;
  margin: 0px;
}

#home .btn {
  text-decoration: none;
  border: 2px solid rgba(218, 165, 32, 0.3);
  letter-spacing: 0.2rem;
  padding: 15px 40px;
}

#home .btn:hover {
  border: 2px solid ;
}

#social ul li a i:hover {
  color: #daa520;
}

#home .btn,
#home .btn i {
  color: #ddd;
  font-size: 12px;
  margin: 0px;
}

#home .btn {
  text-decoration: none;
  border: 2px solid rgba(255, 255, 255, 0.3);
  letter-spacing: 0.2rem;
  padding: 15px 40px;
}

#home .btn:hover {
  border: 2px solid #daa520;
}

/* About */

#about{
  background: #fff;
  color: #000;
  padding: 80px 0;
}

#about .about-content{
display: block;
max-width: 850px;
margin: 0 auto;
}

#about .about-text {
text-align: center;
max-width: 850px; 
margin: 0 auto;
}

#about h5,
#formation h4,
#experience h4,
footer h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #daa520;
}

.profile li {
  display: flex;
  flex-direction: column;
}

.profile li span {
  color: #888888;
  margin-bottom: 10px;
  font-size: 14px;
}

.skills ul li strong,
.profile li strong{
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

.skills ul li .progress {
 background-color: #ddd;
 height: 8px;
 margin-bottom: 30px;
 width: 300px;
}

.percent40,
.percent50,
.percent60,
.percent70,
.percent80,
.percent90,
.percent100 {
  background-color: blue;
  height: 100%;
}

.percent40 {
  width: 40%;
}

.percent50 {
  width: 50%;
}

.percent60 {
  width: 60%;
}

.percent70 {
  width: 70%;
}

.percent80 {
  width: 80%;
}

.percent90 {
  width: 90%;
}

.percent100 {
  width: 100%;
}