html,
body,
#root {
  height: 100%;
}

body {
  padding-top: 70px;
}

/*linear-gradient(45deg, blue, red)*/


.navbar {
  background-color: #000030;
}

#btnbaixar {
  margin-bottom: 0;
}

.navbar button{
background: #00000000;
border: 1px solid #daa520;
}

.corfundo {
  background-color: #010405;
  color: #fff;
}

.corfundo .navbar-ligth .bnt{
  background:none;
  border:3px solid #daa520;
  /*border: 1px solid #0062cc;*/
}


.dourado {
  color: #daa520;
}

.box-shadow {
  box-shadow: 0 3px 6px 0 rgba(0,0,0,.30),
    0 5px 9px 0 rgba(0,0,0,.30);
}

.home {
  height: 825px;
}

#home img {
  border:2px solid #daa520;
  width: 100%;
  border-radius: 50%;
  max-width: 220px;
  height: 100%;
}

#NomePerfil{
margin: 30px 0 20px 0;
font-weight: 300;
color: #daa520;
}

#NomePerfil::after{
  content: "";
  display: block;
  width: 160px;
  height: 2px;
  background: #daa520;
  margin: 10px auto;
}

#home #subtitle{
  color: #3A5FCD;
}

#social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

#social ul{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0;
}

#social i {
  font-size: 30px;
  cursor: pointer;
  margin: 0 10px;
  color: #fff;
}

#home #social ul li a i:hover {
  color: #edce2c;
}

li{
  list-style-type: none;
}

/* About */

#about {
background: #000d25;
color: #000;
padding: 80px 3% 8% 3%;
}

#about {
  color: #fff;
}

#about .about-content,
#formationblock {
  display: block;
  max-width: 850px;
  margin: 0 auto;
}

#about .about-text p {
  max-width: 600px;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
  color: #fff;
}

#about .about-text h4,
#formation h4,
#experience h4,
#more h4,
#footer #form-title {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #daa520;
  text-align: center;
}

#about .profile,
#about .skills{
  padding-bottom: 15%;
  
}

#about .about-and-skills h5 {
  margin-left: 3rem;
  text-transform: uppercase;
  color: #daa520;
}

#about .about-and-skills .profile li, 
#about .about-and-skills .skills li,
#experience #experiences-1 li,
#experience #experiences-2 li{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

#about .about-and-skills .profile li span {
  color: #888888;
  margin-bottom: 10px;
  font-size: 14px;
}

#about .about-and-skills .profile li strong,
#about .about-and-skills .skills ul li strong{
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

.skills ul li .progress {
  background-color: #ddd;
  height: 8px;
  margin-bottom: 30px;
  width: 80%;
}

.percent30,
.percent35,
.percent40,
.percent50,
.percent60,
.percent70,
.percent80,
.percent90,
.percent100 {
  background-color: #daa520;
  height: 100%;
}
.percent30 {
  width: 30%;
}

.percent35 {
  width: 35%;
}

.percent40 {
  width: 40%;
}

.percent50 {
  width: 50%;
}

.percent60 {
  width: 60%;
}

.percent70 {
  width: 70%;
}

.percent80 {
  width: 80%;
}

.percent90 {
  width: 90%;
}

.percent100 {
  width: 100%;
}

/*formation*/

#formation{
  background: #001e4a;
  color: #fff;
  padding: 8% 3%;
}

#formation #fomation-and-certificantes h4{
text-transform: uppercase;
color: #daa520;
text-align: center;
}

#formation i,
#experience i{
  color: #daa520;
}

#formation p{
  color: #fff;
opacity: 0.50;
}

#formation img:hover {
  color: #edce2c;
}

/*experiencia*/

#experience{
  background: #014175;
  color: #fff;
  padding: 8% 3%;
}

#experience ul,
#experience ul li{
  padding-left: 0;
}

#experience li{
  color: #fff;
  opacity: 0.40;
}

#experience h6{
  color: #000;
  
}

#experience p{
  color: #001125;
}

/*More*/
#more{
  /*background-color: #005e96;
  background-color: #212635;484b57*/
  background-color: #365b7f;
  color: #fff;
  padding: 8% 3%;
}


#more i{
  color: #daa520;
}

#more p{
  /*color: #313131;*/
  color: #fff;
  opacity: 0.50;
}



/*footer*/

#footer{
    bottom: 0;
    width: 100%;
    /*background: #3e474f;*/
    background-color: #1d171f;
    padding: 20px 0;
    line-height: 16px;
    color: #fff;
}

#contact,
#message{
  margin: 0 auto;
  
}

.contact-info li{
    margin: 15px auto;
    padding: 7px 0 7px 0;
    width: 70%;
}

#footer .contact-info img {
    float: left;
    margin-left: -40px;
    margin-top: -7px;
}

.contact-info a {
    font-weight: normal;
    color: #fff;
    text-decoration: none;
}

.contact-info a:hover{
    color: #fff;
    opacity: 0.50;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
}


#footer #SendMessage form {
  display: block;
  padding: 0;
}

#SendMessage{
  text-align: center;
   float: left;
    width: 100%;
}

input[type="text"],
textarea {
  color: rgba(255, 255, 255, 0.7);
  outline: none;
  font-size: 14px;
  line-height: 2rem;
  background: transparent;
  border: 0;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

textarea {
  max-width: 100%;
  height: 100%;
}

input[type="submit"] {
  margin: 5% 0 2% !important;
  
}

.contact-info,
#SendMessage{
  margin-left: 10%;
}


.contact-info ul,
#SendMessage ul{
    margin: 10px 15px;
    width: 370px;
    float: left;
    padding: 0;
    list-style-type: none;
}

#SendMessage ul{
  width: 100%! important;
  margin-bottom: 0! important;
}

.contact-info .tituloRodape, 
#SendMessage .tituloRodape{
    text-transform: uppercase;
    text-align: left;
    padding-left: 0;
    margin: 15px auto 15px 0;
}

#SendMessage li{
  padding: 0 auto;
  margin: 0 auto;
  width: 80%;
}


@media only screen and (max-width: 768px) {
  /* Header */
  header {
    justify-content: flex-end;
    margin: 20px 50px;
  }
    
.navbar-nav #btnbaixar,
.navbar-nav #btnDownload{
        padding-left: 0;
    }

  /* Introdução */
  #home {
    padding: 0 40px;
  }

  #home img {
    max-width: 150px;
  }

  /* About */
 #about {
    padding: 40px 0;
    display: flex;
  }
  #about .about-content {
    max-width: 100%;
    margin: 0 20px;
  }

  #about h5,
  #about h4,
  #about .about-and-skills h5,
  #formation h4,
  #experience h4,
  footer h4 {
    margin: 8% 0 4% 0;
    padding: 0 auto;
  }

  #about .about-text p {
    max-width: 100%;
    margin-bottom: 0;
    margin:0 10px 0 10px;
  }

  #about .about-and-skills .profile,
  #about .about-and-skills .skills,{
    margin: 40px 0;
    padding-left: 0;
  }

#about .about-and-skills h5,
#about .about-and-skills .skills ul,
#about .about-and-skills .skills li,
#about .about-and-skills .profile,
#about .about-and-skills .profile li{
  text-align: center;
  padding-left: 0;
  }

  #about .about-and-skills .skills ul li .progress {
    margin: 10px 0 auto;
    margin-left: 10%;
    margin-bottom: 10px;
    text-align: center;
    
  }

  /* Formation and Certificates */
  #formation,
  #experience {
    padding: 8%;
  }

  #formation h3,
  #experience h3 {
    margin: 10px 0;
  }

  #formation .formation-and-certificates #formationblock,
  #experience .experiences #jobs {
    margin-bottom: 25px;
    margin: 0 auto;
  }
  
#experience #experiences-1 li,
#experience #experiences-2 li{
    margin: 0 auto;
    padding: 0 auto;
  }
  
  /*More*/
  
  #more {
   padding: 8%
  }
  
  #more #personality,
  #more #interests,
  #more #hobbies,
  #more #voluntary{
    margin: 4% 0;
    text-align: center;
  }
  

  /* Footer */
  #footer{
    padding: auto;
    margin: auto;
  }

  
  footer {
    padding: 20% 0;
  }

  footer .contact-info {
    display: block;
  }

  #footer i {
    font-size: 35px;
  }

  #footer h3 {
    font-size: 14px;
  }

  #footer p {
    margin-top: 10px;
    font-size: 14px;
  }

  #footer #contact form {
    display: block;
    padding: 0;
  }

  input[type="submit"] {
    margin: 30px !important;
  }

  #footer .contact-info {
    margin-bottom: 8%;
  }
  
  #footer #SendMessage ul{
    margin: auto;
  }

  
  #SendMessage .tituloRodape{
    margin-left: 15px;
  }
  
     
  #footer #SendMessage,
  #footer .contact-info{
    margin: 5% 0 0 0;
}