html,
body,
#root {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  padding-top: 70px;
  color: #000;
}

li{
 
  list-style-type: none;
}

.section i{
  color: #68809D;
}

/*h5 {
  text-shadow: 1px 0px 0px gray, 
               -1px 0px 0px gray, 
               0px 1px 0px gray, 
               0px -1px 0px gray;
}*/

/*linear-gradient(45deg, blue, red)*/

.navbar {
  background: linear-gradient(100deg, #241178 0%,#000030 100%);
}

nav img {
  cursor: pointer;
  margin: 0 5px;
}

#google_translate_element,
.goog-te-banner-frame{
  display: none;
}

#flagBr,
#flagEn{
  width: 20px;
  height: 20px;
  margin
}

.btnbaixar {
  margin-bottom: 0;
}


.navbar button{
  background: #00000000;
  border: 1px solid #daa520;
}

.corfundo {
  background-color: #010405;
  color: #fff;
}


.dourado,
#dourado{
  color: #daa520;
}

.box-shadow {
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.30),
              0 2px 2px 0 rgba(0,0,0,.30),
              0 4px 4px 0 rgba(0,0,0,.30),
              0 6px 6px 0 rgba(0,0,0,.30),
              0 8px 8px 0 rgba(0,0,0,.30);
}

#home figure img {
  border:2px solid #daa520;
  width: 100%;
  border-radius: 50%;
  max-width: 220px;
  height: 100%;
}

#NomePerfil{
  margin: 30px 0 20px 0;
  color: #daa520;
}

/* Linha abaixo do Nome
#NomePerfil::after{
  content: "";
  display: block;
  width: 160px;
  height: 2px;
  background: #daa520;
  margin: 10px auto;
}*/

#home #subtitle{
  color: #fff;
  opacity: 0.50;
}

#social {
  position: relative;
  flex-wrap: wrap;
}

#social ul{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding: 0;
}

#social i {
  font-size: 30px;
  cursor: pointer;
  margin: 0 10px;
  color: #fff;
}

#social i:hover {
  color: #daa520;
}

.section{
  color: #000;
  padding: 8% 3%;
}

/* About */

#about {
  background: #fff;
}

#about .about-content,
#formationblock {
  display: block;
  max-width: 850px;
  margin: 0 auto;
}

#about .about-text p {
  max-width: 600px;
  margin: auto;
  margin-bottom: 100px;
  text-align: center;
  color: #000;
}

.title-section,
footer #form-title {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #daa520;
  text-align: center;
}

#about .about-and-skills h5 {
  margin-left: 3rem;
  text-transform: uppercase;
  color: #daa520;
}

.profile li, 
.skills li,
#experiences-1 li,
#experiences-2 li{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

#about .about-and-skills .profile li span {
  color: #888888;
  margin-bottom: 10px;
  font-size: 14px;
}

#about .about-and-skills .profile li strong,
#about .about-and-skills .skills ul li strong{
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2rem;
  line-height: 2rem;
}

li .progress {
  background-color: #ddd;
  height: 8px;
  margin-bottom: 30px;
  width: 80%;
}

.percent20,
.percent30,
.percent35,
.percent40,
.percent50,
.percent60,
.percent70,
.percent80 {
  background-color: #003bc4;
  height: 100%;
}

.percent20 {
  width: 20%;
}

.percent30 {
  width: 30%;
}

.percent35 {
  width: 35%;
}

.percent40 {
  width: 40%;
}

.percent50 {
  width: 50%;
}

.percent60 {
  width: 60%;
}

.percent70 {
  width: 70%;
}

.percent80 {
  width: 80%;
}


/*############# formation##############*/

#formation{
  background-color: #f7ede7;
}

#certificate-courses{
  margin: 4rem auto 2rem auto;
  
}

#formation p{
  color: #daa520;
}

/*experiencia*/

#experience{
  background: #E1D7D2;
}

#jobs{
 display: flex;
}

#experience ul,
#experience ul li{
  padding-left: 0;
}

#formation li,
#experience li{
  color: #68809D;

}

.office {
  color: #000;
  opacity: 0.5;
}

/*additional-information*/
#additional-information{
  display: flex;
  background-color: #CAC2BD;
  color: #000;
}

.information {
  max-width: 350px !important;
  margin: 1rem auto;
}

#additional-information p{
  color: #000;
  opacity: 0.8;
}


/*footer*/

footer{
  bottom: 0;
  width: 100%;
  background-color: #1d171f;
  padding: 20px 0;
  line-height: 16px;
  color: #fff;
}

#contact,
#message{
  margin: 0 auto;

}

.contact-info li{
  margin: 15px auto;
  padding: 7px 0 7px 0;
  width: 70%;
}

footer .contact-info img {
  float: left;
  margin-left: -40px;
  margin-top: -7px;
}

.contact-info a {
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.contact-info a:hover{
  color: #fff;
  opacity: 0.50;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
}

.contact-info #downloadfooter {
  margin-left: 25%;
  width: auto;
  margin-bottom: 0;
}

.contact-info #btndownloadfooter{
  color: #ffc107;
  padding: 2%;
}

.contact-info #btndownloadfooter:hover{
  color: #000;
  opacity: 0.90 !important;
}

footer #SendMessage form {
  display: block;
  padding: 0;
}

#SendMessage{
  text-align: center;
}

input[type="text"],
textarea {
  color: rgba(255, 255, 255, 0.7);
  outline: none;
  font-size: 14px;
  line-height: 2rem;
  background: transparent;
  border: 0;
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

textarea {
  max-width: 100%;
  height: 100%;
}

input[type="submit"] {
  margin: 5% 0 2% !important;
}

.contact-info,
#SendMessage{
  margin-left: 10%;
}

.contact-info ul,
#SendMessage ul{
  margin: 10px 15px;
  width: 100%;
  float: left;
  padding: 0;
  list-style-type: none;
}

#SendMessage ul{
  margin-bottom: 0! important;
}

.contact-info .tituloRodape, 
#SendMessage .form-titulo{
  text-transform: uppercase;
  text-align: left;
  padding-left: 0;
  margin: 15px auto 15px 0;
}

#SendMessage .form-titulo{
  padding: 7px 0 0 0;
  margin-bottom: 0;
}

#form-name,
#form-email{
  margin-top: 0;
}

#SendMessage li{
  padding: auto;
  margin: auto;
  width: 80%;
}

blockquote,
blockquote footer{
  margin: 0;
  padding: 0;
}

blockquote p{
  font-size: 15px;
}

/*Animation home bolline */
#animationbox{
  width: 160px;
  margin: 0 auto;
}

@keyframes linha {
  0% {margin-left: 0%;}
  100% {margin-left: 96%;}
}

.linhaNome {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #daa520;
  animation-name: linha;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@media only screen and (max-width: 768px){
  /* Header */
  header {
    justify-content: flex-end;
    margin: 20px 50px;
  }

  .navbar-nav #btnbaixar,
  .navbar-nav #btnDownload{
    padding-left: 0;
  }

  /* home */
  #home {
    padding: 0 40px;
  }

  #home img {
    max-width: 150px;
  }

  /* About */
  #about {
    padding: 40px 0;
    display: flex;
  }
  
  #about .about-content {
    max-width: 100%;
    margin: 0 20px;
  }

  #about h5,
  #about h4,
  #about .about-and-skills h5,
  #formation h4,
  #experience h4,
  footer h4 {
    margin: 8% 0 4% 0;
    padding: 0 auto;
  }

  #about .about-text p {
    max-width: 100%;
    margin-bottom: 0;
    margin:0 10px 0 10px;
  }

  #about .about-and-skills .profile,
  #about .about-and-skills .skills{
    margin: 40px 0;
    padding-left: 0;
  }

  #about .about-and-skills h5,
  #about .about-and-skills .skills ul,
  #about .about-and-skills .skills li,
  #about .about-and-skills .profile,
  #about .about-and-skills .profile li{
    text-align: center;
    padding-left: 0;
  }

  #about .about-and-skills .skills ul li .progress {
    margin: 10px 0 auto;
    margin-left: 10%;
    margin-bottom: 10px;
    text-align: center;
  }

  /* experience  */
  #job1,
  #job2{
    margin: 1rem auto;
  }
  
 #experiences-1 li,
 #experiences-2 li{
    margin: 0 auto;
    padding: 0 auto;
  }
  
  /* Formation and Certificates */
  #formation,
  #experience,
  #additional-information{
    padding: 12% 8%;
  }

  #formation h3,
  #experience h3 {
    margin: 10px 0;
  }

  #formation #formationblock,
  #experience #jobs {
    margin-bottom: 25px;
    margin: 2rem auto;
  }
  
  #formation1,
  .curso{
    margin: 2rem auto;
    text-align: center;
  }

  /*additional-information*/
  .information {
    text-align: center;
  }

  /* Footer */
  footer{
    padding:0 auto;
    margin:0 auto;
  }

  footer {
    padding: 20% 0;
  }

  footer .contact-info {
    display: block;
  }

  footer i {
    font-size: 35px;
  }

  footer h3 {
    font-size: 14px;
  }

  footer p {
    margin-top: 10px;
    font-size: 14px;
  }

  footer #contact form {
    display: block;
    padding: 0;
  }

  input[type="submit"] {
    margin: 30px !important;
  }

  footer .contact-info {
    margin-bottom: 8%;
  }

  footer #SendMessage ul,
  footer .contact-info ul{
    margin: auto;
  }

  footer .contact-info ul{
    padding-left: 15px;
  }

  #SendMessage .tituloRodape{
    margin-left: 15px;
  }

  footer #SendMessage,
  footer .contact-info{
    margin: 5% 0 0 0;
  }
}